:root{
--color-base-hue: 420;  

--color-offset:180;
--color-danger-hue:calc( var(--color-base-hue) - var(--color-offset) );

--color-background-dark: hsl(var(--color-base-hue), 100%, 8%);
--color-background-light: hsl(var(--color-base-hue), 100%, 20%);

--color-text-light: hsl(var(--color-base-hue),100%,87%);

--nav-title-font-size: 3rem;
--nav-title-mobfont-size: 2rem;
--nav-title-font-weight: bold;
--nav-link-font-weight: 300;

--color-btn-border:black;
--color-btn-primary-text:hsl(var(--color-base-hue),100%,20%);
--color-btn-primary-text-dark:hsl(var(--color-base-hue),100%,10%);
--color-btn-primary-background: hsl(var(--color-base-hue),100%,83%);
--color-btn-primary-background-dark: hsl(var(--color-base-hue),100%,73%);

--color-btn-danger-text:black;
--color-btn-danger-text-dark:black;
--color-btn-danger-background: hsl(var(--color-danger-hue),100%,83%);
--color-btn-danger-background-dark: hsl(var(--color-danger-hue),100%,73%);

--form-label-font-size:1.2rem;
--form-input-background-color:hsl(var(--color-base-hue),100%,31%);
--form-input-border-color:hsl(var(--color-base-hue),100%,50%);
--form-input-border-color-light:hsl(var(--color-base-hue),100%,80%);

--book-cover-width: 200px;
--book-cover-width-large: 325px;
--book-cover-aspect-ratio:0.75;
}